.loginPanel-container {
  width: 95%;
  margin: 0 auto;
  padding-top: 8%;

  @media (min-width: 700px) {
    width: 32%;
  }
}

.loginPanel {
  height: 40rem;
}

.logTitle {
  text-align: center;
  padding-bottom: 16px;
}

.logSubTitle {
  padding-top: 5%;
}

.loginButton {
  margin-top: 3rem;
  padding-inline: 100px;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
